<p id="notice"><%= notice %></p>

<h1>Inputs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">
            Id
          </th>
          <th scope="col">
            Name
          </th>
          <th scope="col">
            Destroy
          </th>
        </tr>
      </thead>

      <tbody>
        <% @inputs.each do |input| %>
          <tr>
            <td scope="row">
              <%=input.id %>
            </td>
            <td scope="row">
              <%=input.name%>
            </td>
            <td scope="row"><%= link_to 'Destroy', input, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</table>

<br>

<%= link_to 'New Input', new_input_path %>
