<p id="notice"><%= notice %></p>

<h1>Sensors</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">
        Id
      </th>
      <th scope="col">
        Cycles
      </th>
      <th scope="col">
        Address
      </th>
    </tr>
  </thead>

  <tbody>
    <% @sensors.each do |sensor| %>
      <tr>
        <td scope="row">
          <%=sensor.id %>
        </td>
        <td scope="row">
          <%=SensorsInputs.where(sensors_id: sensor.id, inputs_id: 1).length%>
        </td>
        <td scope="row">
          <%=sensor.address %>
        </td>
        <td scope="row"><%= link_to 'Destroy', sensor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor', new_sensor_path %>
